<header>
  <mat-toolbar color="primary">
    <a [routerLink]="['/']" class="logo"></a>
    <span>FoodByte</span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm class="example-spacer">
      <button mat-button routerLink="/recipes">Recette</button>
      <button mat-button routerLink="/shops">Magasins</button>
      <button mat-button routerLink="/products">Produits</button>
      <button mat-button routerLink="/statistics">Statistiques</button>
      <button mat-button routerLink="/profile">Profile</button>
    </div>
    <div>
      <button mat-button routerLink="/profile" *ngIf="user"> <mat-icon color="info">account_circle</mat-icon>{{user.fullname}}</button>
      <button mat-button (click)="logout()">Déconnexion</button>
    </div>




  </mat-toolbar>


</header>
