<header>
  <mat-toolbar color="primary">
    <a [routerLink]="['/']" class="logo"></a>
    <span>FoodByte</span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button routerLink="/recipes">Recette</button>
      <button mat-button routerLink="/statistics">Magasins</button>
      <button mat-button routerLink="/products">Produits</button>
      <button mat-button routerLink="/command">Contact</button>
      <button mat-button routerLink="/profile">Profile</button>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>

  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/login">Déconnexion</button>
  </mat-menu>

</header>
