<header>
  <mat-toolbar color="primary">
    <a [routerLink]="['/']" class="logo"></a>
    <span>FoodByte</span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm class="example-spacer">
      <button mat-button routerLink="/recipes"><mat-icon color="info">room_service</mat-icon>Recette</button>
      <button mat-button routerLink="/shops"><mat-icon color="info">restaurant_menu</mat-icon>Magasins</button>
      <button mat-button routerLink="/products"><mat-icon color="info">shopping_cart</mat-icon>Produits</button>
      <button mat-button routerLink="/statistics"><mat-icon color="info">bar_chart</mat-icon>Statistiques</button>
    </div>
    <div>
      <button mat-button routerLink="/profile" *ngIf="user"> <mat-icon color="info">account_circle</mat-icon>{{user.fullname}}</button>
      <button mat-button (click)="logout()">Déconnexion</button>
    </div>




  </mat-toolbar>


</header>
