.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-card {
  width: 400px;
  margin: 3% auto;
}

.mat-card-title {
  font-size: 16px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

::ng-deep .mat-input-wrapper{
  width:400px !important;
}

.custom-wrapper {
  background-image: url("../../assets/wp.jpg");
  background-size:     100%;
  background-repeat:   no-repeat;
  background-position: center center;
}

.register-section {
  margin-top: 40px;
}
