<mat-toolbar matDialogTitle class="mat-accent m-0">
  <span class="title dialog-title">
    Edition de la recette: {{data.recipe.name}}
  </span>
  <button mat-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form class="form-field" [formGroup]="data.form">
    <div fxLayout="column" fxLayoutAlign="center space-between">

      <mat-card class="mat-elevation-z8 card-section">
        <mat-label><strong>Nom de la recette: </strong></mat-label>
        <div fxLayout="column">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Nom de la recette</mat-label>
            <input matInput placeholder="Placeholder" formControlName="name" required [(ngModel)]='data.recipe.name'>
            <mat-icon matSuffix>fastfood</mat-icon>
            <mat-hint>Veuillez saisir le nom de votre recette</mat-hint>
          </mat-form-field>
          <mat-error *ngIf="name.touched && name.hasError('required')">
            Le nom de votre recette est obligatoire
          </mat-error>
        </div>
      </mat-card>



      <mat-card class="mat-elevation-z8" class="recipe-section card-section" fxLayout="column">
        <mat-label class="custom-label"><strong> Recette de préparation:(Veuillez ecrire sous forme d'etape: etape n :
            ) </strong></mat-label>
        <mat-form-field class="form__field" fxFlex="100">
          <textarea matInput rows="20" cols="80" formControlName="desciption" [(ngModel)]='data.recipe.text'>
                </textarea>
        </mat-form-field>


      </mat-card>

    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button class="save-button mat-accent" (click)="UpdateRecipe()" aria-label="CLOSE">
    Confirmer
  </button>

  <button mat-button class="save-button mat-accent" (click)="onNoClick()" aria-label="CLOSE">
    Annuler
  </button>
</mat-dialog-actions>
