<div class="dialog-content-wrapper">

  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">
               Edition de la recette: {{data.recipe.name}}
            </span>
      <button mat-button class="mat-icon-button"
              (click)="dialogRef.close()"
              aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0">

    <div mat-dialog-content class="p-24 m-0">
      <form class="form-field" [formGroup]="data.form">
        <div fxLayout="column" fxLayoutAlign="center space-between">

          <mat-card class="mat-elevation-z8 card-section">
            <mat-label><strong>Nom de la recette: </strong></mat-label>
            <div fxLayout="column">
              <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Nom de la recette</mat-label>
                <input matInput placeholder="Placeholder" formControlName="name" required
                       [value]="data.recipe.name">
                <mat-icon matSuffix>fastfood</mat-icon>
                <mat-hint>Veuillez saisir le nom de votre recette</mat-hint>
              </mat-form-field>
              <mat-error *ngIf="name.touched && name.hasError('required')">
                Le nom de votre recette est obligatoire
              </mat-error>
            </div>
          </mat-card>

          <form class="form-field" [formGroup]="fileForm">
            <mat-card class="mat-elevation-z8 card-section">
              <div fxLayout="row" fxLayoutAlign="space-between center" fxFill="100">
                <mat-label><strong>Image de la recette: </strong></mat-label>
                <img [src]="data.recipe.image_url || 'assets/recipe.png'" width="75" height="75" style="border-radius: 50%">
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center" fxFill="100">
                <div
                  class="file-upload mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                  <em class="material-icons upload-icon">attachment</em>
                  <input type="file"
                         onclick="this.value = null"
                         (change)="onFileChange($event)"
                         name="FileAttachment"
                         id="FileAttachment"
                         class="upload"
                         #fileInput/>
                </div>

                <div class="close-icon">
                  <button mat-icon-button (click)="removeFile()" [hidden]="!displayCloseButton">
                    <mat-icon class="cancel-icon" matTooltip="Enlever">cancel</mat-icon>
                  </button>
                </div>

              </div>

            </mat-card>
          </form>

          <!--<mat-card>-->
          <!--<mat-form-field fxFlex="100">-->
          <!--<mat-select placeholder="Selectioner vos ingredients" [formControl]="toppings" multiple>-->
          <!--<mat-select-trigger>-->
          <!--{{ingredientsList ? ingredientsList[0] : ''}}-->
          <!--<span *ngIf="ingredientsList.length > 1"-->
          <!--class="example-additional-selection">-->
          <!--(+{{ingredientsList.length - 1}} {{ingredientsList.length === 2 ? 'other' : 'others'}})-->
          <!--</span>-->
          <!--</mat-select-trigger>-->
          <!--<mat-option *ngFor="let topping of ingredientsList"-->
          <!--[value]="topping">-->
          <!--<strong>Nom:</strong> {{topping.text}}-->
          <!--<span *ngIf="topping.rank"><span class="separator">|</span> <strong>Rang :</strong> {{topping.rank}}</span>-->
          <!--<span *ngIf="topping.percent"><span class="separator">|</span><strong> Pourcentage : </strong>{{topping.percent}}%</span>-->
          <!--</mat-option>-->
          <!--</mat-select>-->
          <!--</mat-form-field>-->
          <!--</mat-card>-->

          <mat-card class="mat-elevation-z8" class="recipe-section card-section">
            <mat-label class="custom-label"><strong> Recette de préparation: </strong></mat-label>
            <div *ngFor="let recipeStep of parseRecipe();let i = index;">
              <mat-form-field class="form__field" fxFlex="100" *ngIf="i != 0">
                <input matInput placeholder="Etape {{i+1}}" formControlName="desciption" required
                       [value]="'Etape'+recipeStep">
                <mat-icon matSuffix>fastfood</mat-icon>
                <mat-hint>Veuillez saisir l'étape {{i}} de votre recette</mat-hint>
                <mat-error *ngIf="recipeStep =='Etape'">
                  Ce champs ne peut pas étre vide
                </mat-error>

              </mat-form-field>

              <button mat-icon-button (click)='removeRecipeStep(recipeStep)'
                      *ngIf="recipeSteps.length > 1">
                <mat-icon matTooltip="Supprimer étape {{i+1}}" class="close">cancel</mat-icon>
              </button>

              <button mat-icon-button
                      (click)='addRecipeStep(i+1)'
                      [disableRipple]="true"
                      *ngIf="(i+1 == recipeSteps.length)">
                <mat-icon matTooltip="Ajouter étape {{i+2}}" class="add">add</mat-icon>
              </button>
            </div>
          </mat-card>

        </div>
      </form>


    </div>
  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
    <div>

      <button mat-button
              class="save-button mat-accent"
              (click)="UpdateRecipe()"
              aria-label="CLOSE">
        Confirmer
      </button>

      <button mat-button
              class="save-button mat-accent"
              (click)="onNoClick()"
              aria-label="CLOSE">
        Annuler
      </button>
    </div>
  </div>

</div>
