<div fxLayout="column" fxLayoutAlign="center center" class="wrapper">
    <mat-form-field class="table-search-input">
      <input matInput placeholder="State" aria-label="Rechercher votre recette" [matAutocomplete]="auto" [formControl]="recipeSearch">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
          <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
          <span>{{state.name}}</span> |
          <small>Population: {{state.population}}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex style="width: 100%">

    <div>
    </div>

    <div>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" fxLayoutAlign="center">
        <mat-button-toggle value="bold" (click)="filterCreationDate()">
          <mat-icon>add_alarm</mat-icon>
          Date de création
          <mat-icon *ngIf="!ascendantCreationSort">arrow_downward</mat-icon>
          <mat-icon *ngIf="ascendantCreationSort">arrow_upward</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="bold" (click)="filterUpdateDate()">
          <mat-icon>update</mat-icon>
          Date de modificaton
          <mat-icon *ngIf="!ascendantUpdateSort">arrow_downward</mat-icon>
          <mat-icon *ngIf="ascendantUpdateSort">arrow_upward</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="italic" (click)="filterAlphabeticName()">
          <mat-icon>sort_by_alpha</mat-icon>
          Nom
          <mat-icon *ngIf="!ascendantAlphabetciSort">arrow_downward</mat-icon>
          <mat-icon *ngIf="ascendantAlphabetciSort">arrow_upward</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div>
    </div>

  </div>

  <div class="cardList">
    <ng-container *ngFor="let recipe of pagedItems"
                  Style="border-style: dot-dash; height: 100%"
    >
      <mat-card [class.mat-elevation-z8]="true" class="cardListItem">
        <mat-card-header fxLayout="column" fxLayoutAlign="center center">

          <mat-card-title>{{recipe.name}}</mat-card-title>
          :

          <mat-card-subtitle>
            <div>
              <span>crée le: {{recipe.createdAt}}</span>
            </div>
            <div>
              <span>modifié le: {{recipe.updatedAt}}</span>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="row" fxLayoutAlign="center space-between">
          <img [src]="recipe.image_url || 'assets/default-recipe.png'" width="80"
               height="80">
        </mat-card-content>
        <mat-card-actions>

          <div fxLayout="row" fxLayoutAlign="center space-between">
            <button mat-button>
              <mat-icon matTooltip="Afficher préparation" (click)="openRecipeDetailDialog(recipe)"
                        style="color: blue">fastfood
              </mat-icon>
            </button>

            <button mat-button>
              <mat-icon matTooltip="Editer la recette" (click)="openRecipeDetailDialog(recipe)"
                        style="color: blue">edit
              </mat-icon>
            </button>

            <button mat-button>
              <mat-icon matTooltip="commentaire" (click)="openRecipeCommentDialog(recipe)"
                        style="color: blue">forum
              </mat-icon>
            </button>


          </div>

        </mat-card-actions>
      </mat-card>
    </ng-container>
    <div>


      <div class="pager-container">

        <mat-paginator [length]="allItems.length"
                       [pageIndex]="actualPage"
                       [pageSize]="defaultPageSize"
                       [showFirstLastButtons]="true"
                       [pageSizeOptions]="pageSizeOptions"
                       fxLayoutAlign="center center">
        </mat-paginator>

      </div>

    </div>
  </div>


  <!-- ADD RECIPE BUTTON -->
  <button mat-fab class="mat-accent-bg corner-fap-button compose-dialog-button"
          id="add-recipe-button" (click)="openAddRecipeDialog()" aria-label="Nouvel Recette">
    <mat-icon>add</mat-icon>
  </button>
  <!-- / ADD RECIPE BUTTON -->


</div>



