<div fxLayout="column" fxLayoutAlign="center center" class="wrapper">

  <div fxLayout="row" fxLayoutAlign=" center" fxFlex style="width: 100%">

    <div>
    </div>
<!--les filtres-->
    <div class="sort">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" fxLayoutAlign="center">
      
        <mat-button-toggle value="italic" (click)="filterProductPrice()">
          <mat-icon>attach_money</mat-icon>
          prix du produit
          <mat-icon *ngIf="!ascendantPriceSort">arrow_downward</mat-icon>
          <mat-icon *ngIf="ascendantPriceSort">arrow_upward</mat-icon>
        </mat-button-toggle>

        <mat-button-toggle value="italic" (click)="filterProductName()">
          <mat-icon>sort_by_alpha</mat-icon>
          Nom du produit
          <mat-icon *ngIf="!ascendantNameSort">arrow_downward</mat-icon>
          <mat-icon *ngIf="ascendantNameSort">arrow_upward</mat-icon>
        </mat-button-toggle>

      </mat-button-toggle-group>
    </div>
      <!--Filtrage de prix-->
      <div class="forms">
        <section class="example-section">
          <mat-form-field class="example-margin">
            <input matInput type="number" placeholder="Prix minimal" [(ngModel)]="Pmin">
          </mat-form-field>
          <mat-form-field class="example-margin">
            <input matInput type="number" placeholder="Prix maximal" [(ngModel)]="Pmax">
          </mat-form-field>
        
        </section>
    
  </div>





    <!--Barre de recherche de produit-->
    <div class= "forms">
      <form >
        <mat-form-field appearance="outline" fxFlex="80">
        <input matInput placeholder="Rechercher votre produit" aria-label="Rechercher votre produit"
          />
          <!--<mat-autocomplete #auto="matAutocomplete">-->
            <!--<mat-option *ngFor="let recipe of recipes | async" [value]="recipe.name">-->
              <!--<img class="example-option-img"  height="25">-->
              <!--<span>{{recipe.name}}</span> |-->
            <!--</mat-option>-->
          <!--</mat-autocomplete>-->
        </mat-form-field>
      </form>
      </div>
    <!--Barre de recherche de  magasin --> 
    <div class= "forms">
      <form >
        <mat-form-field appearance="outline" fxFlex="80">
        <input matInput placeholder="Rechercher votre magasin" aria-label="Rechercher votre magasin"
          />
          <!--<mat-autocomplete #auto="matAutocomplete">-->
            <!--<mat-option *ngFor="let recipe of recipes | async" [value]="recipe.name">-->
              <!--<img class="example-option-img"  height="25">-->
              <!--<span>{{recipe.name}}</span> |-->
            <!--</mat-option>-->
          <!--</mat-autocomplete>-->
        </mat-form-field>
      </form>
      </div>
  
    
    



  </div>


<!--Les cards des produits-->

      <div class="cardList">
        <ng-container *ngFor="let product of pagedItems"
                      Style="border-style: dot-dash; height: 100%"
        >
          <mat-card [class.mat-elevation-z8]="true" class="cardListItem">
            <mat-card-header fxLayout="column" fxLayoutAlign="center center" class="custom-bar">
    
              <mat-card-title>{{product.name}}</mat-card-title>
    
              <mat-card-subtitle>
                <div>
                  <span>Marque: {{product.brands}}</span>
                </div>
              
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content fxLayout="row" fxLayoutAlign="center space-between">
              <img [src]="product.image_url || 'assets/default-product.png'" width="200"
                   height="200" style="border-radius: 50%">
            </mat-card-content>
            <mat-card-actions class="custom-bar">
    
              <div fxLayout="row" fxLayoutAlign="center space-between">
                <button mat-button>
                  <mat-icon matTooltip="Afficher la description du produit" (click)="openProductDetailDialog(product)"
                            style="color: blue">info
                  </mat-icon>
                </button>
    
                <button mat-button>
                  <mat-icon matTooltip="Ajouter des informations" (click)="addProductDialog(product)"
                            style="color: blue">edit
                  </mat-icon>
                </button>

                <button mat-button>
                  <mat-icon matTooltip="Composition du produit" (click)="openProductStatDialog(product)"
                            style="color: blue">insert_chart
                  </mat-icon>
                </button>
    
              </div>
    
            </mat-card-actions>
          </mat-card>
        </ng-container>

<!--pagination des produits-->

<div>


  <div class="pager-container">

    <mat-paginator [length]="totalpage"
                   [pageIndex]="actualPage"
                   [pageSize]="defaultPageSize"
                   [showFirstLastButtons]="true"
                   [pageSizeOptions]="pageSizeOptions"
                   fxLayoutAlign="center center">
    </mat-paginator>

  </div>

</div>



</div>




