<div fxLayout="column" fxLayoutAlign="center center" class="wrapper">

  <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
    <mat-form-field class="table-search-input">
      <input matInput placeholder="Rechercher un produit" aria-label="Rechercher un produit"
             (keyup)="searchProduct()"
             [matAutocomplete]="auto" [formControl]="productSearch">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="searchProduct()">
        <mat-option *ngFor="let product of unFiltredpagedItems" [value]="product.name">
          <img class="example-option-img" aria-hidden
               [src]="product.image_url || 'assets/product.png'" height="35" width="35"
               style="border-radius: 50%"> -
          <span>{{product.name}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>

      <div>
      </div>
      <div>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" fxLayoutAlign="center">


          <mat-button-toggle value="bold" (click)="filterProductPrice()">
            <mat-icon>update</mat-icon>
            Prix
            <mat-icon *ngIf="!ascendantPriceSort">arrow_downward</mat-icon>
            <mat-icon *ngIf="ascendantPriceSort">arrow_upward</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="italic" (click)="filterProductName()">
            <mat-icon>sort_by_alpha</mat-icon>
            Nom
            <mat-icon *ngIf="!ascendantNameSort">arrow_downward</mat-icon>
            <mat-icon *ngIf="ascendantNameSort">arrow_upward</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>


  </div>



  <!--Les cards des produits-->

  <div class="cardList">
    <ng-container *ngFor="let product of pagedItems"
                  Style="border-style: dot-dash; height: 100%"
    >
      <mat-card [class.mat-elevation-z8]="true" class="cardListItem">
        <mat-card-header fxLayout="column" fxLayoutAlign="center center" class="custom-bar">

          <mat-card-title>{{product.name}}</mat-card-title>

          <mat-card-subtitle>
            <div>
              <span>Marque: {{product.brands}} <span
                *ngIf="product.nutrition_grade !=='' ">| Grade: {{product.nutrition_grade}}</span></span>
              <div>
                <mat-icon
                  [ngStyle]="{'color':['a','b', 'c', 'd', 'e'].includes(product.nutrition_grade)  ? 'orangered' : 'grey' }">
                  star
                </mat-icon>
                <mat-icon
                  [ngStyle]="{'color':['a','b', 'c', 'd'].includes(product.nutrition_grade)  ? 'orangered' : 'grey' }">
                  star
                </mat-icon>
                <mat-icon
                  [ngStyle]="{'color':['a','b', 'c'].includes(product.nutrition_grade)  ? 'orangered' : 'grey' }">
                  star
                </mat-icon>
                <mat-icon
                  [ngStyle]="{'color':['a','b'].includes(product.nutrition_grade)  ? 'orangered' : 'grey' }">
                  star
                </mat-icon>
                <mat-icon
                  [ngStyle]="{'color':['a'].includes(product.nutrition_grade)  ? 'orangered' : 'grey' }">
                  star
                </mat-icon>
              </div>
            </div>

          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="row" fxLayoutAlign="center space-between">

          <img [src]="product.image_url || 'assets/product.png'" width="200"
               height="200" style="border-radius: 50%">
        </mat-card-content>
        <mat-card-actions class="custom-bar">

          <div fxLayout="row" fxLayoutAlign="center space-between">
            <button mat-button (click)="openProductDetailDialog(product)">
              <mat-icon matTooltip="Afficher la description du produit"
                        style="color: blue">info
              </mat-icon>
            </button>

            <button mat-button (click)="addProductDialog(product)">
              <mat-icon matTooltip="Ajouter des informations"
                        style="color: blue">edit
              </mat-icon>
            </button>

            <button mat-button (click)="openProductStatDialog(product)">
              <mat-icon matTooltip="Composition du produit"
                        style="color: blue">insert_chart
              </mat-icon>
            </button>

            <button mat-button (click)="addProductPrices(product)">
              <mat-icon matTooltip="Consulter le prix chez plusieurs magasins"
                        style="color: blue">attach_money
              </mat-icon>
            </button>

          </div>

        </mat-card-actions>
      </mat-card>
    </ng-container>

    <!--pagination des produits-->

    <div>


      <div class="pager-container">

        <mat-paginator [length]="totalpage"
                       [pageIndex]="actualPage"
                       [pageSize]="defaultPageSize"
                       [showFirstLastButtons]="true"
                       [pageSizeOptions]="pageSizeOptions"
                       fxLayoutAlign="center center">
        </mat-paginator>

      </div>

    </div>


  </div>




