.img {
    width: 100%;
    margin-bottom: 18%;
    
  }
  .card-picture {
    width: 21%;
    margin-bottom: 2%;
    margin-left: 1%

  }
  .container {
    min-height: 100%;
    width: 100%;
  }
  .search-form {
    width: 69%;
  }
  .select-form {
   width:24%    

  }
