<mat-toolbar matDialogTitle class="mat-accent m-0">
  <span class="title dialog-title">
    Geolocalisation du magasin: {{data.shop.name}}
  </span>
  <button mat-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng" [label]="label"></agm-marker>
  </agm-map>
</mat-dialog-content>
