/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~angular-tree-component/dist/angular-tree-component.css';
@import '~@angular/material/theming';
@import '~dragula/dist/dragula.css';

$custom-typography: mat-typography-config(
    $font-family: 'Exo'
);

@include mat-core($custom-typography);

body {
  background-color: #f4f3f3;
  margin: 0;
  app-root * {
    font-family: 'Exo', sans-serif;
  }
}

/* Fullscreen toolbar when inside dialog container */
.mat-dialog-container .mat-toolbar {
  margin: -24px;
  margin-bottom: 0;
  width: auto;
  display: flex;
}
.mat-toolbar .dialog-title {
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}
/* Add some padding before content in dialog container */
.mat-dialog-container .mat-dialog-content {
  padding-top: 16px;
}
