
<div fxLayout="column" fxLayoutAlign="center center">

<div fxLayout="row" fxLayoutAlign="center center" class="cards">
  <div fxFlex="20" class="example-card">
    <mat-card [class.mat-elevation-z8]="true">
      <mat-card-header class="custom-card-header">
        <mat-card-title>Recette</mat-card-title>
        <mat-card-subtitle>14/01/2018
        </mat-card-subtitle>
      </mat-card-header>
<mat-icon class="custom-icon blue">room_service</mat-icon>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions class="custom-card-header">
        <button mat-button [routerLink]="['/recipes']"><mat-icon>restaurant</mat-icon>Accéder</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="20" class="example-card">
    <mat-card [class.mat-elevation-z8]="true">
      <mat-card-header class="custom-card-header">
        <mat-card-title>Magasins</mat-card-title>
        <mat-card-subtitle>14/01/2018
        </mat-card-subtitle>
      </mat-card-header>
     <mat-icon class="custom-icon red">restaurant_menu</mat-icon>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions class="custom-card-header">
        <button mat-button routerLink="/shops"><mat-icon>restaurant</mat-icon>Accéder</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="20" class="example-card">
    <mat-card [class.mat-elevation-z8]="true">
      <mat-card-header class="custom-card-header">
        <mat-card-title>Produits</mat-card-title>
        <mat-card-subtitle>14/01/2018
        </mat-card-subtitle>
      </mat-card-header>
     <mat-icon class="custom-icon green">shopping_cart</mat-icon>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions class="custom-card-header">
        <button mat-button routerLink="/products"><mat-icon>restaurant</mat-icon>Accéder</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="20" class="example-card">
    <mat-card [class.mat-elevation-z8]="true">
      <mat-card-header class="custom-card-header">
        <mat-card-title>Statistiques</mat-card-title>
        <mat-card-subtitle>14/01/2018

        </mat-card-subtitle>
      </mat-card-header>
         <mat-icon class="custom-icon orange">bar_chart</mat-icon>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions class="custom-card-header">
        <button mat-button routerLink="/statistics"><mat-icon>restaurant</mat-icon>Accéder</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

  <div fxLayout="row" fxLayoutAlign="center center" >
    <img src="../../assets/foodByte.png" width="300" height="250">
  </div>

</div>
